h1{
  font-family: sans-serif;
}
body{
  background-color: #E1E6E8;
}

img{
  display: inline-flex;
  padding: 10 25 10 25;
  text-align: center;
  margin: 10px 10px 10px 80px;
  border: 1px solid black;



}
button {
  background-color: purple;
  color: white;
  border-radius: 10px;
  font-size: 1.1em;
}
canvas{
  background-color: #35332A;
  border-style: inset;
}

article{
  background-color: #55808A;
  width: 100%;
  margin: 50px auto;
  border-style: ridge;

}
