


img{
  display: inline-flex;
  padding: 10 25 10 25;
  text-align: center;
  margin: 10px 10px 10px 25px;
  padding-left: 30px;

}
canvas{
  background-color: rgba(130, 199, 255, 0.2);
  border-style: inset;
}

article{
  background-color: rgba(130, 199, 255, 0.5);
  width: 100%;
  margin: 50px auto;
  border-style: ridge;

}
