.div {
  display: inline;
  margin-top: 40px;
  margin-right: 75px;


}
ul li{
  display: inline-flex;
  padding: 10 25 10 25;
  text-align: center;
}

.container {
  background-color: black;
  align-content: center;
}
